<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p (%file:%line\)[%X{traceRootId}]- %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <appender name="baselog"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/data/logs/provider/provider-service.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/data/logs/provider/provider-service.log.%d.%i</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 64 MB -->
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>
        %d %p (%file:%line\)[%X{traceRootId}]- %m%n
      </pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>

  <!--elk tcp输出-->
  <!--   <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
         <destination>192.168.1.124:4567</destination>
         &lt;!&ndash; encoder is required &ndash;&gt;
         <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
     </appender>-->

  <!-- 时间滚动输出 level为 DEBUG 日志 -->
  <appender name="file—debug"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY </onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/data/logs/provider/provider-service.debug.%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{80}[%X{traceRootId}] - %msg%n</pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>

  <!-- 时间滚动输出 level为 ERROR 日志 -->
  <appender name="file—error"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY </onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/data/logs/provider/provider-service.error.%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{80}[%X{traceRootId}] - %msg%n</pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="file—error"/>
    <appender-ref ref="baselog"/>
  </root>
  <!--<logger name="com.ykcloud.wechatpos.dao" level="DEBUG">
    <appender-ref ref="file—debug"/>
  </logger>-->
</configuration>